{% extends "layouts/default.html" %}
{% load staticfiles %}

{% block content %}
    <div >
        <form action="" method="POST" >
            <fieldset>
                <legend>Add new grievance</legend>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.title.errors }}
                    <label for="{{ form.title.id_for_label }}">Title:</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    {{ form.content.errors }}
                    <label for="{{ form.content.id_for_label }}">Your complaint:</label>
                    {{ form.content }}
                </div>
	                {{ form.latitude }}
	                {{ form.longitude }}
                </div>
                <input class="btn btn-primary" type="submit" value="Submit" />
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block scriptsAppend %}
    <script type="text/javascript" src="{% static 'js/geo.js' %}"></script>
{% endblock %}
