{% extends "layouts/default.html" %}
{% load staticfiles %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">#{{grievance.issue_id}} {{grievance.title}}</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">{{grievance.content}}</li>
        </ul>
        {% if grievance.geo_address %}
        <div class="panel-body">
            <div class="col-sm-6">
                <strong>Address:</strong><br>
                {% for addr in grievance.geo_address.0.address_components %}
                    {{ addr.long_name }}<br>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <div id="pickerMap" style="width: 300px; height: 300px;"></div>
            </div>
        </div>
        {% endif %}
        <ul class="list-group">
            <li class="list-group-item"><strong>Status:</strong><br>
            {% if status.id == 6 %}
            	<div class="text-danger">
	            	<span class="glyphicon glyphicon-exclamation-sign"></span>
	            	The issue has been marked as spam.
	            </div>
            {% elif status.id == 7 %}
            	<div class="text-danger">
	            	<span class="glyphicon glyphicon-time"></span>
	            	The issue has been put on hold.
	            </div>
	        {% elif status.id == 8 %}
            	<div class="text-danger">
	            	<span class="glyphicon glyphicon-warning-sign"></span>
	            	The issue cannot be resolved.
	            </div>
            {% else %}
            	<ul class="progress-indicator">
            		{% if status.id >= 1 %}
						<li class="completed"> <span class="bubble"></span> New </li>
					{% endif %}

					{% if status.id >= 2 %}
						<li class="completed"> <span class="bubble"></span>Under verification </li>
					{% else %}
						<li> <span class="bubble"></span>Under verification </li>
					{% endif %}

					{% if status.id >= 3 %}
						<li class="completed"> <span class="bubble"></span>Assigned</li>
					{% else %}
						<li> <span class="bubble"></span>Assigned</li>
					{% endif %}

					{% if status.id >= 4 %}
						<li class="completed"> <span class="bubble"></span>Under progress</li>
					{% else %}
						<li> <span class="bubble"></span>Under progress</li>
					{% endif %}

					{% if status.id == 5 %}
						<li class="completed"> <span class="bubble"></span>Resolved</li>
					{% else %}
						<li> <span class="bubble"></span>Resolved</li>
					{% endif %}
				</ul>
            {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}


{% block scriptsAppend %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/progress-wizard.min.css' %}" />
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script type="text/javascript" src="{% static 'js/locationpicker.js' %}"></script>
    <script>
        $('#pickerMap').locationpicker({
            location: {latitude: {{ grievance.latitude }}, longitude: {{ grievance.longitude}} },
            radius: 50
        });
    </script>
{% endblock %}
