description "Gunicorn application server handling myproject"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
setuid admin
setgid admin
chdir /home/admin/projects/techngage/src

exec gunicorn -c gunicorn_config.py pgs.wsgi
